body{
    margin: 0px;
}
.header{
    padding: 0 250px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
    align-items: center;
    color: #F9FAF8;
}
.logo{
    font-weight: bold;
    font-size: 24px;
}
li{
    display: flex;
}
.maininfo{
    gap: 30px;
    color: #F9FAF8;
    display: flex;
    padding: 0 250px;
    background-color: #1F2937;
    align-items: center;
    height: 500px;
}
h1{
    margin: 0px;
    text-wrap: wrap;
    font-size: 48px;
}
.greetingssecondarytext{
    margin-top: 0px;
    margin-bottom: 8px;
    text-wrap: wrap;
    font-size: 18px;
}
button{
    color: #F9FAF8;
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 8px;
    border-width: 0px;
    padding: 5px 30px;
    font-weight: bold;
}
.greetings-left{
    flex: 45%;
}
.greetings-right{
    flex: 55%;
}
.placeholder{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
}
.additionalinfo{
    padding: 0 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    font-size: 36px;

}
.image-placeholder{
    width: 150px;
    height: 150px;
    border-width: 4px;
    border-radius: 15px;
    border-style: solid;
    border-color: #3882F6;
}
.subtext{
    text-align: center;
    color: #6D747D;
    width: 158px;
}
.imageboxes{
    padding: 15px 0;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
}
.quote{
    margin-top: 100px;
    padding: 100px 450px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.quotedperson{
    text-align: right;
    font-weight: bold;
}
.interactivebar{
    padding: 50px 150px;
    margin: 100px 250px;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    color:#E5E7EB;
}
.interactmain{
    font-weight: bold;
    font-size: 24px;
}
p{
    margin: 0px;
}
.whiteborder{
    border-style: solid;
    border-width: 3px;
    border-color: #E5E7EB;
}
.interact-right{
    display: flex;
    align-items: center;
}